[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
jsonschema = "*"
semver = "*"
json-logic-qubit = "*"
pyyaml = "*"
jinja2 = "*"
regis-cli = {file = ".", editable = true}
cookiecutter = "*"

[dev-packages]
pytest = ">=7.4"
pytest-cov = ">=4.1"
responses = ">=0.24"

[requires]
python_version = "3"
