{% set data = report.results.get('popularity', {}) %}
{% if data and data.available %}
<div class="overflow-auto">
    <table class="striped">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% if data.description %}
            <tr>
                <td><strong>Description</strong></td>
                <td><small>{{ data.description | e }}</small></td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>Registered</strong></td>
                <td>{{ data.date_registered | e }}</td>
            </tr>
            <tr>
                <td><strong>Last Updated</strong></td>
                <td>{{ data.last_updated | e }}</td>
            </tr>
            <tr>
                <td><strong>Pulls</strong></td>
                <td>{{ data.pull_count | format_number }}</td>
            </tr>
            <tr>
                <td><strong>Stars</strong></td>
                <td>{{ data.star_count | format_number }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
