{% set data = report.request.get('metadata', {}) %}
{% if data %}
<div class="overflow-auto">
    <table class="striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in data.items() %}
            <tr>
                <td><strong>{{ key | e }}</strong></td>
                <td>{{ value | e }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p><em>No metadata provided in the request.</em></p>
{% endif %}
