name: releaser-pleaser

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  releaser-pleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: apricote/releaser-pleaser@v0.7.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
