name: releaser-pleaser

on:
  push:
    branches: [main]
  pull_request_target:
    types:
      - edited
      - labeled
      - unlabeled

permissions:
  contents: read

concurrency:
  group: releaser-pleaser
  cancel-in-progress: true

jobs:
  releaser-pleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: releaser-pleaser
        uses: apricote/releaser-pleaser@v0.7.1
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          extra-files: |
            pyproject.toml
            cookiecutters/consumer/cookiecutter.json
